@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --strong-green: 159 22% 18%;
    --muted-green: 161 40% 33%;
    --dark-green: 159, 24%, 13%;
    --light-green: 160 52% 71%;
    --light-blue: 206, 83%, 86%;
    --light-orange: 22 74% 76%;
    --light-pink: 284 61% 74%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-acron {
  font-family: var(--font-acron-regular);
}

.text-acron-medium {
  font-family: var(--font-acron-medium);
}

.text-acron-bold {
  font-family: var(--font-acron-bold);
}

.text-product-sans {
  font-family: var(--font-product-sans-regular);
}

.text-product-sans-italic {
  font-family: var(--font-product-sans-italic);
}

.text-product-sans-bold {
  font-family: var(--font-product-sans-bold);
}

.text-product-sans-italic-bold {
  font-family: var(--font-product-sans-italic-bold);
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  75% {
    transform: translate(1px, 1px);
  }
}

.animate-move {
  animation: move 4s infinite;
}
